@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.News {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	aspect-ratio: 1/1;

	background: rgba(5, 46, 28, 0.04);
	text-decoration: none;
	color: #000;
}
.text {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.skeleton {
	background: #353535;
	animation: pulse 1.5s infinite;
}
