.WhiteButton {
	position: relative;
	display: flex;
	width: max-content;
	min-width: 200px;
	min-height: 60px;
	padding: 9px 18px;
	justify-content: center;
	align-items: center;
	gap: 10px;

	border-radius: 80px;
	border: 2px solid rgba(255, 255, 255, 1);
	background: #fff;

	text-decoration: none;
	color: #052e1c;
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	line-height: 105%;
	letter-spacing: -0.6px;
	transition: 0.3s all;
}
.WhiteButton:hover {
	background: transparent;
	color: #fff;
}
@media screen and (max-width: 1240px) {
	.WhiteButton {
		min-width: 180px;
		min-height: 50px;
		padding: 7px 14px;

		font-size: 18px;
		letter-spacing: -0.54px;
	}
}
@media screen and (max-width: 1040px) {
	.WhiteButton {
		min-width: 140px;
		min-height: 40px;
		padding: 7px 14px;

		font-size: 14px;
		letter-spacing: -0.42px;
	}
}
@media screen and (max-width: 768px) {
	.WhiteButton {
		min-width: 120px;
		min-height: 35px;
		padding: 6px 13px;

		font-size: 13px;
		letter-spacing: -0.39px;
	}
}
