.inputs {
	display: flex;
	gap: 4px;
	width: max-content;
	border-radius: 80px;
	border: 1px solid rgba(156, 156, 156, 0.23);
	background: rgba(156, 156, 156, 0.1);

	min-height: 40px;
	padding: 11px 18px;
}
.inputs input {
	font-size: 14px;
	width: 70px;
	padding: 0;
	border: none;
	background: transparent;
}
.inputs input::-webkit-inner-spin-button,
.inputs input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.inputs input:focus-visible {
	outline: none;
}
.inputs span {
	display: flex;
	align-items: center;
}
