.Buildings {
	display: flex;
	justify-content: end;
	gap: 20px;
}
.Buildings h2 {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
}

@media screen and (max-width: 1240px) {
}
@media screen and (max-width: 1040px) {
}
@media screen and (max-width: 768px) {
	.Buildings {
		justify-content: space-between;
	}
	.Buildings h2 {
		position: relative;
		transform: translateX(0%);
		left: 0%;
	}
}

@media screen and (max-width: 360px) {
}
