@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.Skeleton {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-decoration: none;
	grid-column: span 1;
	aspect-ratio: 1/1.2;

	background: rgba(5, 46, 28, 0.04);
}

.i {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.s {
	height: 24px;
	width: 170px;
}
.l {
	height: 24px;
	width: 240px;
}
.s,
.l {
	border-radius: 100px;
	background: #353535;
	animation: pulse 1.5s infinite;
}
