.form {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form h1 {
	text-align: center;
	padding-bottom: 30px;
	max-width: 778px;
}
.form > * {
	max-width: 387px;
	width: 100%;
}
.inputs {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 30px;
}
.Input {
	width: 100%;
}
.Button {
	margin-bottom: 10px;
}
.form small {
	opacity: 0.4;
	text-align: center;
}
.form small a {
	text-decoration-line: underline;
}
