.office {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 4px;

	grid-auto-flow: dense;
}
@media screen and (max-width: 768px) {
	.office {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 4px;

		grid-auto-flow: dense;
	}
}
