.flat {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 4px;

	grid-auto-flow: dense;
}
.plan {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	grid-column: 1/6;
	background: rgba(5, 46, 28, 0.04);
}
.plan img {
	width: 75%;
	aspect-ratio: 1/1;
	object-fit: fill;
}
.tabs {
	display: flex;
	gap: 4px;
}
.tabs button {
	min-height: 40px;
	padding: 9px 16px;
	width: max-content;
	height: max-content;
	font-family: 'Manrope';

	border-radius: 80px;
	border: 1px solid rgba(156, 156, 156, 0.23);
	background: rgba(156, 156, 156, 0.1);

	transition: 0.3s all;
}
.tabs button:hover {
	border: 1px solid rgba(5, 46, 28, 0.23);
	background: rgba(5, 46, 28, 0.25);
}
.tabs .active {
	border: 1px solid rgba(5, 46, 28, 0.23);
	background: rgba(5, 46, 28, 0.25);
	font-weight: 600;
}

.info {
	grid-column: 6/9;
	background: rgba(5, 46, 28, 0.04);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
}
.details {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.details > span {
	display: block;
	width: 100%;
	height: 1px;
	background: #d9d9d9;
}
.title {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.title h4 {
	font-weight: 400;
}
.title sup {
	font-weight: 800;
	font-size: 24px;
	top: -0.45em;
}
.price {
	display: flex;
	align-items: center;
	gap: 5px;
}
.price small {
	opacity: 0.4;
	text-decoration: line-through;
}

.infoTable {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.infoTable .item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}
.infoTable .item p:nth-child(1) {
	opacity: 0.4;
}
.infoTable .item p:nth-child(2) {
	font-weight: 600;
}

.buyingType h4 {
	padding-bottom: 20px;
}
.types {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.types label {
	display: flex;
	gap: 10px;
	align-items: center;
}

.types input {
	display: none;
}
.types span {
	width: 15px;
	height: 15px;
	border-radius: 500px;
	border: 1px solid #052e1c;
	background: #fff;
}
.types label input[type='radio']:checked + span {
	background-color: #052e1c;
	border-color: #052e1c;
}
.types label input[type='radio']:checked ~ p {
	font-weight: 600;
}

@media screen and (max-width: 1240px) {
}
@media screen and (max-width: 1040px) {
}
@media screen and (max-width: 768px) {
	.flat {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 4px;

		grid-auto-flow: dense;
	}
	.plan {
		grid-column: 1/3;
	}
	.info {
		grid-column: 1/3;
	}
	.title sup {
		font-size: 18px;
		top: -0.25em;
	}
	.details {
		gap: 15px;
	}
	.buyingType h4 {
		padding-bottom: 10px;
	}
}

@media screen and (max-width: 360px) {
}
